<?xml version="1.0"?>
<launch>
 
  <arg name="enable_raw" default="true"/>
 
  <include file="$(find raspicam_node)/launch/camerav2_1280x960_10fps.launch">
    <arg name="enable_raw" value="$(arg enable_raw)"/>
  </include>

  <node name="intruder_detecter_node" pkg="guardian_surveillance" type="intruder_detecter_node" respawn="false" output="screen"/> 

  <node name="image_saver" pkg="image_view" type="image_saver" respawn="false" output="screen">
    <remap from="/image" to="raspicam_node/image"/> 
    <param name="save_all_image" type="bool" value="false"/>
    <param name="filename_format" type="string" value="/home/ubuntu/catkin_ws/src/guardian_surveillance/media/image_%04d.%s"/> 
  </node>

  <node name="email_alerter_node" pkg="guardian_surveillance" type="email_alerter_node" respawn="false" output="screen"/>

</launch>
