<launch>
  
  <arg name="enable_raw" default="true"/>
  
  <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch">
    <arg name="enable_raw"	value="$(arg enable_raw)"/>
  </include>

  <node name="image_processor_node" pkg="guardian_surveillance" type="image_processor_node" respawn="false" output="screen"/>
<!--  
  <node name="intruder_alerter_node" pkg="guardian_surveillance" type="intruder_alerter_node" respawn="false" output="screen"/>
 -->
</launch>
